---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import apollo from "../assets/images/apollo.webp";
import yoghurt from "../assets/images/yoghurt.webp";
import walkingCake from "../assets/images/walkingCake.webp";
import tiramisu from "../assets/images/tiramisu.webp";
import summerhouse from "../assets/images/summerhouse.webp";
import softIce from "../assets/images/softIce.webp";
import soakedPear from "../assets/images/soakedPear.webp";
import rodgrodmedflode from "../assets/images/rodgrodmedflode.webp";
import redCurrant from "../assets/images/redCurrant.webp";
import recipe from "../assets/images/recipe.webp";
import powderSugar from "../assets/images/powderSugar.webp";
import petitepies from "../assets/images/petitepies.webp";
import pear from "../assets/images/pear.webp";
import pannaCotta from "../assets/images/pannaCotta.webp";
import outsideCake from "../assets/images/outsideCake.webp";
import orangesAware from "../assets/images/orangesAware.webp";
import miniCake from "../assets/images/miniCake.webp";
import MBsetup from "../assets/images/MBsetup.webp";
import manyPies from "../assets/images/manyPies.webp";
import longSetUp from "../assets/images/longSetUp.webp";
import lemonCurd from "../assets/images/lemonCurd.webp";
import italy from "../assets/images/italy.webp";
import granola from "../assets/images/granola.webp";
import figs from "../assets/images/figs.webp";
import christmas from "../assets/images/christmas.webp";
import chokMadeleine from "../assets/images/chokMadeleine.webp";
import cherryCakes from "../assets/images/cherryCakes.webp";
import cherry from "../assets/images/cherry.webp";
import butter from "../assets/images/butter.webp";
import bread from "../assets/images/bread.webp";
---

<MainLayout title="Titel">
  <article>
    <section class="text-center pt-40 pb-sm">
      <h1 class="text-center pb-sm">Gallery</h1>
      <p>
        My personal portfolio of some of my favorite events, baking goods, my
        process and bts
      </p>
    </section>

    <section id="sektion-2" class="ml-40 mr-40">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 pb-sm">
        <div class="relative group">
          <Image src={walkingCake} alt="billede af kage" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Layered bithday cake
          </p>
        </div>

        <div class="relative group ">
          <Image src={softIce} alt="soft ice" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Rasberry softice
          </p>
        </div>

        <div class="relative group">
          <Image src={tiramisu} alt="tiramisu" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Petite tiramisu
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 pb-2">
        <div class="relative group">
          <Image src={powderSugar} alt="Madeleines" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Classic Madeleines
          </p>
        </div>

        <div class="relative group">
          <Image src={rodgrodmedflode} alt="Rødgrød med fløde" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Danish Rødgrød med fløde
          </p>
        </div>

        <div class="relative group">
          <Image src={chokMadeleine} alt="Chocolate covered Madeleines" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Chocolate covered Madeleines
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 pb-2">
        <div class="relative group">
          <Image src={butter} alt="Radish with butter and flaky salt" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Radish with butter and flaky salt
          </p>
        </div>

        <div class="relative group">
          <Image src={manyPies} alt="Petite pies" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Petite pies
          </p>
        </div>

        <div class="relative group">
          <Image src={outsideCake} alt="Birthday cake" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            My own birthday cake
          </p>
        </div>
      </div>


      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 pb-2">
        <div class="relative group">
          <Image src={miniCake} alt="Mini cakes" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Mini cakes
          </p>
        </div>

        <div class="relative group">
          <Image src={longSetUp} alt="Event setup" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Event for ???
          </p>
        </div>

        <div class="relative group">
          <Image src={figs} alt="Figs" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Everything figs
          </p>
        </div>
      </div>


      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 pb-2">
        <div class="relative group">
          <Image src={christmas} alt="Christmas setup" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Christmas setup
          </p>
        </div>

        <div class="relative group">
          <Image src={MBsetup} alt="Event setup for H&M and Magda Butrym" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Event for collaboration between H&M and Magda Butrym
          </p>
        </div>

        <div class="relative group">
          <Image src={granola} alt="Granola with blood oranges" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Granola with blood oranges
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 pb-2">
        <div class="relative group">
          <Image src={pannaCotta} alt="Panna Cotta" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Panna Cotta
          </p>
        </div>

        <div class="relative group">
          <Image src={redCurrant} alt="Home picked red currant" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Home picked red currant from Italy
          </p>
        </div>

        <div class="relative group">
          <Image src={orangesAware} alt="Event setup for Aware" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Event for Aware
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 pb-2">
        <div class="relative group">
          <Image src={bread} alt="Homemade bread" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Homemade bread
          </p>
        </div>

        <div class="relative group">
          <Image src={lemonCurd} alt="Lemon cake" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Lemon cake in the making
          </p>
        </div>

        <div class="relative group">
          <Image src={italy} alt="Kitchen in Italy" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
           Dream kitchen in Italy
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 pb-2">
        <div class="relative group">
          <Image src={cherry} alt="tets" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            ???
          </p>
        </div>

        <div class="relative group">
          <Image src={summerhouse} alt="Summerhouse" class="" />
          <p
            class="absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Cooking from my summerhouse
          </p>
        </div>

        <div class="relative group">
          <Image src={pear} alt="Poched pear in yoghurt" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
          Poched pear in yoghurt
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 pb-2">
        <div class="relative group">
          <Image src={cherryCakes} alt="Mini cakes with cherries on top" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Mini cakes with cherries on top
          </p>
        </div>

        <div class="relative group">
          <Image src={yoghurt} alt="Breakfast" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            More breakfast
          </p>
        </div>

        <div class="relative group">
          <Image src={petitepies} alt="Petite pies" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Petite pies for ????
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 pb-2">
        <div class="relative group">
          <Image src={recipe} alt="Lemon cake recipe" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Making a lemon cake recipe
          </p>
        </div>

        <div class="relative group">
          <Image src={soakedPear} alt="Pears" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Preparing pears
          </p>
        </div>

        <div class="relative group">
          <Image src={apollo} alt="Mini cakes for Apollo" class="" />
          <p
            class="text-center absolute top-10 left-1/2 -translate-x-1/2 !text-white text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-100"
          >
            Mini cakes for Apollo
          </p>
        </div>
      </div>

    </section>
  </article></MainLayout
>
