---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import test3 from "../assets/images/cooking.webp";
import cherryCakes from "../assets/images/cherryCakes.webp";
import Cardtwo from "../components/Cardtwo.astro";
import celebrationCake from "../assets/images/celebrationCake.webp";
import petitepies from "../assets/images/petitepies.webp";
import manyPies from "../assets/images/manyPies.webp";
import powderSugar from "../assets/images/powderSugar.webp";
import MBsetup from "../assets/images/MBsetup.webp";
import apollo from "../assets/images/apollo.webp";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Shop All">
  <article>
    <section class="text-center p-20">
      <h1 class="text-center p-20">Cakes and Events</h1>
      <p>
        Dessert is the highlight of the event. Make yours stand out. We offer
        <span>cakes</span> and <span>desserts </span>for your next <span
          >commercial</span
        > or <span>private event</span>. All orders can be adjusted for
        allergies or specific needs. We also offer delivery, table set ups,
        events and catering in the Copenhagen area.
      </p>
      <p>
        Please reach out to MAIL for further questions or inquiries - we would
        love to assist you
      </p>
    </section>
  </article>

  <section class="py-12">
    <h2 class="text-center">Shop all</h2>

    <div
      class="flex gap-4 overflow-x-auto px-4 scroll-smooth snap-x snap-mandatory scrollbar-hide"
    >
      <div class="shrink-0 snap-start w-[300px]">
        <Cardtwo
          title="Celebration Cake"
          image={celebrationCake.src}
          price="65 dk pr. person - min. 10 servings"
          buttonLabel="Read More"
          href="/celebrationCake"
        />
      </div>
      <div class="shrink-0 snap-start w-[300px]">
        <Cardtwo
          title="Petite Pies"
          image={petitepies.src}
          price="65 dk pr. person - min. 10 servings"
          buttonLabel="Read more"
          href="/petitePies"
        />
      </div>
      <div class="shrink-0 snap-start w-[300px]">
        <Cardtwo
          title="Tiny Treats"
          image={manyPies.src}
          price="65 dk pr. person - min. 10 servings"
          buttonLabel="Read More"
          href="/tinyTreats"
        />
      </div>
      <div class="shrink-0 snap-start w-[300px]">
        <Cardtwo
          title="Madeleines"
          image={powderSugar.src}
          price="45 dk pr. person - min. 10 servings"
          buttonLabel="Read More"
          href="/madeleines"
        />
      </div>
      <div class="shrink-0 snap-start w-[300px]">
        <Cardtwo
          title="Private Event"
          image={apollo.src}
          price="pris min. 10 servings"
          buttonLabel="Read more"
          href="/privateEvent"
        />
      </div>
      <div class="shrink-0 snap-start w-[300px]">
        <Cardtwo
          title="Commercial Event"
          image={MBsetup.src}
          price="pris min. 10 servings"
          buttonLabel="Read More"
          href="/comEvent"
        />
      </div>
    </div>
  </section>

  <section id="sektion 4" class="p-20">
    <section class="">
      <h2 class="text-center p-20">Events and Catering</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="w-[500px]">
          <Cardtwo
            title="Private Event"
            image={apollo.src}
            price="pris min. 10 servings"
            buttonLabel="Read more"
            href="/privateEvent"
          />
        </div>
        <div class="w-[500px]">
          <Cardtwo
            title="Commercial Event"
            image={MBsetup.src}
            price="pris min. 10 servings"
            buttonLabel="Read More"
            href="/comEvent"
          />
        </div>
      </div>
    </section>
    <section class="">
      <h2 class="text-center p-20">Cakes and Sweets</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="w-[500px]">
          <Cardtwo
            title="Celebration Cake"
            image={celebrationCake.src}
            price="65 dk pr. person - min. 10 servings"
            buttonLabel="knap her"
            href="/singleview"
          />
        </div>
        <div class="w-[500px]">
          <Cardtwo
            title="Petite Pies"
            image={petitepies.src}
            price="65 dk pr. person - min. 10 servings"
            buttonLabel="knap her"
            href="/singleview"
          />
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="w-[500px]">
          <Cardtwo
            title="Tiny Treats"
            image={manyPies.src}
            price="65 dk pr. person - min. 10 servings"
            buttonLabel="knap her"
            href="/singleview"
          />
        </div>
        <div class="w-[500px]">
          <Cardtwo
            title="Madeleines"
            image={powderSugar.src}
            price="65 dk pr. person - min. 10 servings"
            buttonLabel="knap her"
            href="/singleview"
          />
        </div>
      </div>
    </section>
  </section>
</MainLayout>
