---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import portrait from "../assets/images/klaraMarie.webp";
import closeup from "../assets/images/colseUp.webp";
import Klara from "../assets/images/klara.webp";
import lemoncurd from "../assets/images/lemonCurd.webp";
import recipe from "../assets/images/recipe.webp";
import setup from "../assets/images/settingup.webp";
import rasberry from "../assets/images/rasberry.webp";
import dog from "../assets/images/dog.webp";
import mini from "../assets/images/mini.webp";
import lemon from "../assets/images/lemon.webp";
import cutlery from "../assets/images/cutlery.webp";
import bialetti from "../assets/images/bialetti.webp";
import cake from "../assets/images/cherrycake.webp";
import pink from "../assets/images/pinkPear.webp";
import fresh from "../assets/images/freshPear.webp";
import done from "../assets/images/pearSetup.webp";
import sunflower from "../assets/images/pearSetup.webp";
import pear from "../assets/images/drawingpear.webp";
---

<MainLayout title="Recipe of the Month">
  <article class="grid md:grid-cols-5 md:gap-x-6">
    <!--1. kolonne-->
    <article class="hidden md:block">
      <div class="flex justify-end">
        <Image
          src={pear}
          alt="Drawing of a pear"
          class="w-[30%] h-auto my-80"
        />
      </div>
      <div class="flex justify-end">
        <Image
          src={pear}
          alt="Drawing of a pear"
          class="w-[30%] h-auto my-180"
        />
      </div>
      <div class="flex justify-end">
        <Image
          src={pear}
          alt="Drawing of a pear"
          class="w-[30%] h-auto my-120"
        />
      </div>
    </article>
    <!-- Indholdskolonne fylder alt på mobile, 3/5 på desktop -->
    <div
      class="col-span-full md:col-span-3 flex flex-col items-center text-center"
    >
      <!-- Sektioner herunder -->
      <section class="pb-xs md:p-xs">
        <h1 class="mt-40 md:p-xs">Recipe of the month</h1>
        <p class="max-w-prose">
          <span> Poched pears</span> with elderflower and hibiscus in May <br>
          Spring has sprung, and every corner of
          Copenhagen smells like lilac and elderflower and I am so here for
          it. What screams spring more than poaching fruit with spring flowers
          in it? (Okay maybe hibiscus doesn’t exactly scream danish spring, but
          the color and acidity was just what this dish needed so forgive me). Here is an itty bitty recipe for some
          pretty pink poached pears with mascarpone cream.
          <span>Please note</span> that the pears need to rest for <span>12 hours</span> or longer, so make them
            the day before you need to use them!
        </p>
      </section>
      <section class="md:p-xs">
        <span> You need</span>:
        <!-- <ul class="">
          <p>5 pears</p>
          <p>1 liter of water</p>
          <p>1dl of white sugar</p>
          <p>1 lemon</p>
          <p>2 tablespoons of
            dried hibiscus flowers</p>
          <p>2,5 dl of elderflower nectar (possible homemade oor just buy it in
            any grocery store)</p>
            <p>250g of mascarpone</p>
            <p>1 egg, pasteurized</p>
            <p>0.5dl of white
              sugar</p>
        </ul> -->


        <ul class="space-y-2">
          <li>
            <label class="flex items-center justify-center gap-6 cursor-pointer">
              <input type="checkbox" class="hidden peer" />
              <p class="w-4 h-4 rounded-full border-2 border-black peer-checked:bg-red-500 transition" aria-hidden="true"></p>
              <p>5 pears</p>
            </label>
          </li>
          <li>
            <label class="flex items-center justify-center gap-6 cursor-pointer">
              <input type="checkbox" class="hidden peer" />
              <p class="w-4 h-4 rounded-full border-1 border-primary-800 peer-checked:bg-red-500 transition" aria-hidden="true"></p>
              <p>1 liter of water</p>
            </label>
          </li>
          <li>
            <label class="flex items-center justify-center gap-6 cursor-pointer">
              <input type="checkbox" class="hidden peer" />
              <p class="w-4 h-4 rounded-full border-2 border-black peer-checked:bg-red-500 transition" aria-hidden="true"></p>
              <p>1 dl of white sugar</p>
            </label>
          </li>
          <li>
            <label class="flex items-center justify-center gap-6 cursor-pointer">
              <input type="checkbox" class="hidden peer" />
              <p class="w-4 h-4 rounded-full border-2 border-black peer-checked:bg-red-500 transition" aria-hidden="true"></p>
              <p>1 lemon</p>
            </label>
          </li>
          <li>
            <label class="flex items-center justify-center gap-6 cursor-pointer">
              <input type="checkbox" class="hidden peer" />
              <p class="w-4 h-4 rounded-full border-2 border-black peer-checked:bg-red-500 transition" aria-hidden="true"></p>
              <p>2 tbsp dried hibiscus flowers</p>
            </label>
          </li>
          <li>
            <label class="flex items-center justify-center gap-6 cursor-pointer">
              <input type="checkbox" class="hidden peer" />
              <p class="w-4 h-4 rounded-full border-2 border-black peer-checked:bg-red-500 transition" aria-hidden="true"></p>
              <p>2.5 dl elderflower nectar</p>
            </label>
          </li>
          <li>
            <label class="flex items-center justify-center gap-6 cursor-pointer">
              <input type="checkbox" class="hidden peer" />
              <p class="w-4 h-4 rounded-full border-2 border-black peer-checked:bg-red-500 transition" aria-hidden="true"></p>
              <p>250g mascarpone</p>
            </label>
          </li>
          <li>
            <label class="flex items-center justify-center gap-6 cursor-pointer">
              <input type="checkbox" class="hidden peer" />
              <p class="w-4 h-4 rounded-full border-2 border-black peer-checked:bg-red-500 transition" aria-hidden="true"></p>
              <p>1 pasteurized egg</p>
            </label>
          </li>
          <li>
            <label class="flex items-center justify-center gap-6 cursor-pointer">
              <input type="checkbox" class="hidden peer" />
              <p class="w-4 h-4 rounded-full border-2 border-black peer-checked:bg-red-500 transition" aria-hidden="true"></p>
              <p>0.5 dl white sugar</p>
            </label>
          </li>
        </ul>
    </section>

      <section class="p-xs">
        <Image
          src={done}
          alt="Poched pears with hibiscus and elderflower"
          class="w-[50%] h-auto mx-auto"
        />
      </section>

      <section class="pt-0 md:pb-xs">
        <h4 class="p-10">Day one</h4>
        <p class="max-w-prose">
          Start by bringing your water, sugar, elderflower nectar, hibiscus,
          lemon juice, lemon zest (or if organic just dump the whole juiced
          lemon in there) to a boil in a medium sized pot. While the brine is
          coming to boil, peel the skin off the pears, but keep the stem on, it
          looks hella cute! When the brine is boiling, add the pears and let
          them simmer for 10-12 minutes, or till the pears are soft enough to
          stick a knife in them without too much resistance. Take the pot off
          the heat and let them rest for an hour before transferring them to an
          air tight box and pour the brine over. Let them rest and soak up color
          and taste in the fridge overnight.
        </p>
      </section>

      <section class="w-full p-4 md:grid md:grid-cols-2 md:gap-4">
        <div
          class="flex justify-center items-center mb-4 md:mb-0 md:justify-end"
        >
          <Image
            src={fresh}
            alt="Portrait of Klara"
            class="w-2/3 h-auto md:w-[80%]"
          />
        </div>
        <div
          class="flex justify-center items-center md:justify-start hidden md:flex"
        >
          <Image
            src={lemoncurd}
            alt="Lemon curd"
            class="w-1/2 h-auto md:w-[60%]"
          />
        </div>
      </section>
      <section class="pt-0 md:pb-xs">
        <h4 class="p-10">Day two</h4>
        <p class="max-w-prose">
          Right before serving your dessert, whip up your mascarpone cream. Add
          the egg and sugar to a mixing bowl with sugar and whip it on high
          speed till it is light and fluffy in color and the sugar is fully
          incorporated. It should take two minutes. Now add in the mascarpone
          and whip it on medium speed. At first it becomes liquid, but if you
          keep whipping, it becomes an airy cream, that you can scoop with a
          spoon. Keep an eye on it, it can become very solid if you whip too
          long!
        </p>
      </section>

      <section class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 w-full">
        <div class="flex justify-center items-center md:justify-end">
          <Image
            src={dog}
            alt="Klara cooking at home with her dog"
            class="w-[70%] h-auto"
          />
        </div>
        <div class="flex justify-start items-center">
          <Image
            src={setup}
            alt="Klaras setup for event"
            class="w-[60%] h-auto hidden md:block"
          />
        </div>
      </section>

      <section class="md:p-xs">
        <p class="max-w-prose">
          Plate on whole pear with a scoop of mascarpone cream and voila,
          you have a simple, sassy spring dessert. The perfect dessert for your dinner parties in may.
        </p>
      </section>

      <section class="md:p-xs">
        <p class="max-w-prose">
          With Love, <span>Klara</span>
          <br />&lt;3
        </p>
      </section>

      <section class="p-xs">
        <Image src={pink} alt="End resault of the poched pear recipe" class="w-[30%] h-auto mx-auto" />
      </section>
    </div>

    <!-- 5. kolonne -->
    <article class="hidden md:block">
      <div class="">
        <Image
          src={pear}
          alt="Drawing of a pear"
          class="w-[40%] h-auto my-120"
        />
      </div>
      <div class="">
        <Image
          src={pear}
          alt="Drawing of a pear"
          class="w-[40%] h-auto my-220"
        />
      </div>
      <div class="">
        <Image
          src={pear}
          alt="Drawing of a pear"
          class="w-[40%] h-auto mt-380"
        />
      </div>
    </article>
  </article>
 
</MainLayout>
