---
const { title = "Standard Tittel", image = "https://via.placeholder.com/300" } =
  Astro.props;

const cardStyling =
  "bg-gul-50 rounded-lg overflow-hidden transition-transform duration-300 transform hover:scale-105 group";

const imageContainerStyling = "relative w-full h-64";

const imageStyling = "w-full h-full object-cover";

const titleOverlayStyling =
  "absolute inset-0 flex items-center justify-center bg-black bg-opacity-40 text-white text-xl font-semibold transition-colors duration-300 group-hover:text-red-500";
---

<div class={cardStyling}>
  <div class={imageContainerStyling}>
    <img src={image} alt={title} class={imageStyling} />
    <h3 class={titleOverlayStyling}>{title}</h3>
  </div>
</div>
