---
import Link from "../components/Link.astro";

const {
  title = "Produktnavn",
  image = "https://via.placeholder.com/300",
  price = "",
  buttonLabel = "Read More",
  href = "", // lenken til produktsiden
} = Astro.props;
---

<article class="bg-white p-4 transition">
  <img src={image} alt={title} class="w-full object-cover mb-4" />
  <h3 class="font-semibold text-lg">{title}</h3>
  {price && <p class="text-gray-600 mt-2">{price}</p>}

  <div class="mt-4">
    <Link href={href}>{buttonLabel}</Link>
  </div>
</article>
