---
const { title = "Standard Tittel", image = "https://via.placeholder.com/300" } = Astro.props;

const cardStyling = "overflow-hidden"; 
const imageContainerStyling = "relative flex justify-center items-center overflow-hidden";
const imageStyling = "w-full object-contain transition-transform duration-300 hover:scale-110"; 
const titleOverlayStyling = "absolute inset-0 flex items-center justify-center bg-opacity-40 !text-beige-100 transition-colors duration-300 pointer-events-none";
---

<div class={cardStyling}>
  <div class={imageContainerStyling}>
    <img src={image} alt={title} class={imageStyling} />
    <h3 class={titleOverlayStyling}>{title}</h3>
  </div>
</div>
