---
const {
  title = "Standard produkt",
  price = "Pris ikke oppgitt",
  quantityMin = 10,
  details = "Produktdetaljer kommer her.",
  otherInfo = "Annen info som levering, vilkår osv.",
  buttonLabel = "Knap her",
} = Astro.props;
---

<div class="p-6 sticky top-4 self-start max-w-md">
  <div>
    <h3 class="text-xl font-semibold text-primary-800">{title}</h3>
    <p class="text-lg leading-relaxed mt-2 text-primary-00">{price}</p>
  </div>

  <form>
    <div class="my-4">
      <label for="quantity" class="block mb-1 text-sm text-gray-600"></label>
      <input
        id="quantity"
        name="quantity"
        type="number"
        min={quantityMin}
        value={quantityMin}
        class="w-24 p-2.5 text-center outline-none focus:ring-2 focus:ring-primary-900"
        required
      />
    </div>
  </form>
  <!-- Tror det de her buttons skal være link -->
  <div class="mb-6">
    <button
      class="bg-beige-100 text-primary-900 px-4 py-2 hover:bg-primary-800 transition"
    >
      {buttonLabel}
    </button>
  </div>

  <!-- valg av tilleggs/detaljer info -->
  <div class="flex border-b border-gray-300">
    <div class="flex flex-col">
      <input type="radio" name="tabs" id="tab1" class="hidden peer" checked />
      <label
        for="tab1"
        class="cursor-pointer px-4 py-2 text-gray-600 peer-checked:text-primary-900 peer-checked:border-b-2 peer-checked:border-primary-900"
      >
        <h5>Detaljer</h5>
      </label>
      <div class="hidden peer-checked:block mt-4">
        <p class="text-gray-700">{details}</p>
      </div>
    </div>

    <div class="flex flex-col ml-8">
      <input type="radio" name="tabs" id="tab2" class="hidden peer" />
      <label
        for="tab2"
        class="cursor-pointer px-4 py-2 text-gray-600 peer-checked:text-primary-900 peer-checked:border-b-2 peer-checked:border-primary-900"
      >
        <h5>Annen info</h5>
      </label>
      <div class="hidden peer-checked:block mt-4">
        <p class="text-gray-700">{otherInfo}</p>
      </div>
    </div>
  </div>
</div>
