---
const {
  title,
  price,
  details,
  otherInfo,
  minQuantity = 10,
  defaultQuantity = 10,
} = Astro.props;
---

<div
  class="max-h-fit self-start sticky top-4 p-4 border rounded shadow-md bg-white"
>
  <div>
    <h3>{title}</h3>
    <p class="text-lg leading-relaxed mt-2">{price} kr</p>
  </div>

  <form>
    <div class="my-4">
      <label for="quantity" class="block mb-1">Antall</label>
      <input
        id="quantity"
        name="quantity"
        type="number"
        min={minQuantity}
        value={defaultQuantity}
        class="w-24 p-2.5 text-center border rounded"
        required
      />
    </div>
  </form>

  <div class="mb-6">
    <button
      class="px-4 py-2 text-primary-900 border border-primary-900 rounded hover:bg-primary-100 transition"
    >
      Kjøp
    </button>
  </div>

  <div class="flex border-b border-gray-300">
    <div class="flex flex-col">
      <input type="radio" name="tabs" id="tab1" class="hidden peer" checked />
      <label
        for="tab1"
        class="cursor-pointer px-4 py-2 text-gray-600 peer-checked:text-primary-900 peer-checked:border-b-2 peer-checked:border-primary-900"
      >
        <h5>Detaljer</h5>
      </label>
      <div class="hidden peer-checked:block mt-4">
        <p class="text-gray-700">{details}</p>
      </div>
    </div>

    <div class="flex flex-col ml-8">
      <input type="radio" name="tabs" id="tab2" class="hidden peer" />
      <label
        for="tab2"
        class="cursor-pointer px-4 py-2 text-gray-600 peer-checked:text-primary-900 peer-checked:border-b-2 peer-checked:border-primary-900"
      >
        <h5>Annen info</h5>
      </label>
      <div class="hidden peer-checked:block mt-4">
        <p class="text-gray-700">{otherInfo}</p>
      </div>
    </div>
  </div>
</div>
